<div class="padded-100">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4">

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>
          <div class="list-inline nav-signin-list">
            <div class="nav-login nav-signin-closed">
              <div class="form-actions button-top nav-signin">
                <%= render "devise/shared/links" %>
              </div>
            </div>
            <div class="nav-login nav-signin-open">
              <div class="nav-signin">
                Sign Up
              </div>
            </div>
          </div>

          <div class="form-inputs">
            <%= f.input :first_name, label: false, placeholder: "Prénom", required: true, autofocus: true %>
            <%= f.input :last_name, label: false, placeholder: "Nom", required: true, autofocus: true %>
            <%= f.input :email,  label: false, placeholder: "Email", required: true, autofocus: true %>
            <%= f.input :password, label: false, placeholder: "Password",required: true, hint: ("#{@minimum_password_length} caractères minimum" if @minimum_password_length) %>
          </div>
          <div class="form-actions button-action-form">
                <%= f.button :submit, "S'enregistrer", class: "btn btn-danger" %>
          </div>
           <%= render "devise/shared/link_facebook" %>
        <% end %>

      </div>
    </div>
  </div>
</div>
