<div class="padded">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="col-xs-12 col-sm-3">
          <% if current_user.picture %>
            <%= cl_image_tag current_user.picture.path, width: 200, height: 200, crop: :thumb, gravity: :face %>
          <% else %>
            <%= link_to(edit_users_path, class: 'a-nodecoration' )  do %>
              <div class="avatar-square avatar-square-centered">
                <span>Add a picture</span>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="col-xs-12 col-sm-9">
          <h1><%= current_user.first_name.capitalize %> <%= current_user.last_name.capitalize %></h1>
          <p><%= current_user.summary %></p>
          <p>Account created since <%= current_user.created_at.year %></p>
          <%= link_to "Edit", edit_users_path, class: "btn btn-primary" %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
          <div class="col-xs-12 col-sm-6">
            <h2>Visites</h2>
            <% if current_user.tours == [] %>
              <div class="card-empty">
                <i>Aucune Commande</i>
              </div>
            <% else %>
            <ul class="list-unstyled">
              <% current_user.bookings.each do |booking| %>
                <li>
                  <div class="card-small">
                    <div class="card-small-title"><%= booking.tour.name %></div>
                    <%= cl_image_tag booking.tour.user.picture.path, {class: "card-small-user avatar", id: "avatar_user"}%>
                    <div class="card-small-description">
                      <h2>avec <%= booking.tour.user.first_name %> le <%= booking.start_at %></h2>
                    </div>
                    <%= form_for(booking) do |f|%>
                      <%= f.hidden_field :status, :value => "cancelled" %>
                      <%= f.button :submit, class: 'btn picto picto-danger card-small-action', data: { confirm: 'Are your Sure ?' } do  %>
                        <i class="fa fa-times-circle"></i>
                      <% end %>
                    <% end %>
                    <div class="flag flag-<%= booking.status %> "><%= booking.status %></div>
                    <%= link_to "", tour_path(booking.tour), class: "card-link smaller-link" %>
                  </div>
                </li>
              <% end %>
            </ul>
            <% end %>
          </div>
          <div class="col-xs-12 col-sm-6">
            <h2>Demandes</h2>
            <% if current_user.tours == [] %>
              <div class="card-empty">
                <i>Aucune demande</i>
              </div>
            <% else %>
              <ul>
              <% current_user.tours.each do |tour| %>
                <li><%= tour.name %></li>
                <%= link_to "Accepted", tour_path(tour) %>
                <%= link_to "Cancelled", tour_path(tour) %>
              <% end %>
              </ul>
            <% end %>
          </div>
          </div>
      </div>
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <h2>Mes parcours</h2>
        <% if current_user.tours == [] %>
          <%= link_to(new_tour_path, class: 'a-nodecoration') do %>
            <div class="card-empty">
              <i>Add a tour</i>
            </div>
          <% end %>
        <% else %>
          <ul class="list-unstyled">
            <% current_user.tours.each do |tour| %>
              <li>
                <%# render "shared/card", tour: tour %>
                <div class="list-visit">
                  <%= cl_image_tag tour.photos.first.path, {class: "list-visit-pic"}%>
                  <div class="list-visit-title">
                    <%= tour.name %>
                  </div>
                  <div class="list-visit-description">
                    <h2></h2>
                    <p> Vous avez actuellement <b><%= current_user.bookings %> reservations</b> pour cette visite</p>
                  </div>
                </div>
               </li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>




<!-- AJOUTER SUR LA NAVBAR LE CHIFFRE SUR LA BOITE MAIL QUI AUGMENTE QUAND UNE DEMANDE OU UNE ACCEPTATION -->
<!-- FAIRE FONCTIONNER LES LIENS ACCEPTED ET CANCELLED DANS CONTROLEUR UPDATE DE BOOKING -->
