<div class="decide-booking-card decide-booking-absolute">
  <div class="booking-title">
    <p>Reservez</p>
  </div>
  <div class="form-booking">
    <%= simple_form_for [locals[:tour], locals[:booking]], method: 'post' do |f| %>
      <%= f.input :start_at, label: false, as: :string, placeholder: 'Selectionnez une date', required: false, input_html: {class: 'datepicker'} %>
      <%= f.input :nb_people, label: false,collection: 1..10, prompt: "Nombre de personnes" %>
      <%= f.input :price, disabled: true, label: false, as: :string, placeholder: "#{@tour.price.to_i} €"  %>
      <div id="computation"></div>
      <%= button_tag( type: 'submit', class: 'book-now-button btn btn-danger')  do %>
        <i class="fa fa-sign-in"></i> <span style="padding-left:5px;">Confirmez</span>
      <% end %>
    <% end %>
  </div>
</div>


<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $('.datepicker').datepicker({
      format: "yyyy-mm-dd",
      weekStart: 1,
      clearBtn: true,
      daysOfWeekHighlighted: "0,6",
      todayHighlight: true,
      orientation: "bottom auto"
    });

    $('#booking_nb_people').on('change', function(){
      var base_price = <%= @tour.price.to_i %>;
      console.log("hello")
      var people = parseInt($( "#booking_nb_people option:selected" ).val());
      people = _.isNaN(people) ? 1 : people;

      if (people > 1) {
        var comp = "(" + base_price + "€ x " + people + " people)"
        var finalPrice = base_price * people + " €";
        $('#booking_price').attr('placeholder', finalPrice);
        $('#computation').html(comp);
      } else {
        var finalPrice = base_price * people + " €";
        $('#booking_price').attr('placeholder', finalPrice);
        $('#computation').html("");
      }

    })

    $(window).scroll(function() {
      if ($(window).scrollTop() >= 337) {
        $(".decide-booking-card").addClass("decide-booking-fixed")
        $(".decide-booking-card").removeClass("decide-booking-absolute")
      } else {
        $(".decide-booking-card").removeClass("decide-booking-fixed")
        $(".decide-booking-card").addClass("decide-booking-absolute")
      }
    })


  <% end %>


<% end %>
