<%= f.input :name %>
<%= f.input :tour_duration, collection: 1..8, label: 'Durée en heure' %>
<%= f.input :description %>
<%= f.input :address %>

<%= f.input :guide_level, collection: 1..5, label: 'Votre expertise (from 1 to 5)' %>
<%= f.input :language, label: "Langue", collection:  ["French", "English", "Spanish", "Chinese"] %>

<p>Quels services complémentaires ?</p>
<%= f.input :provides_ticket, label: 'Ticket d\'entrée' %>
<%= f.input :provides_food, label: 'Nourriture' %>
<%= f.input :provides_car, label: 'J\'ai une voiture' %>

<%= f.input :price, label: 'Prix proposé' %>
<%= f.input :live, label: 'Mettre mon tour live maintenant' %>
<%= f.input :photos, as: :attachinary, label: 'Ajouter 3 photos' %>

<%= f.button :submit, class: "btn btn-danger" %>





