
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="index-tour-list">
      <div class="index-header">
        <h3 class="text-center">Choisissez un tour</h3>
      </div>
      <div class="index-filters">
        <ul class="list-inline">
          <li><span>Choose Max Price </span></li>
          <b><%= Tour.minimum(:price).to_i %>€</b>
          <input id="price-limi"t type="text" class="" value="" data-slider-min="10" data-slider-max="1000" data-slider-step="5" data-slider-value="[250,450]"/><b><%= Tour.maximum(:price).to_i %>€</b>
        </ul>
      </div>
      <div class="index-options">
        <ul class="list-inline">
          <div class="btn-group" data-toggle="buttons">
            <form method="post" action="/controller/index" class="btn option_button">
              <i class="fa fa-cutlery"></i>
              <input type="checkbox" autocomplete="off"> Price Includes Food
            </form>
            <form method="post" action="/controller/index" class="btn option_button">
              <i class="fa fa-ticket"></i>
              <input type="checkbox" autocomplete="off"> Price Includes Tickets
            </form>
          </div>
      </div>
      <% @tours.each do |tour| %>
        <div class="col-xs-12 col-sm-6">
          <%= render "shared/card_listing", tour: tour %>
        </div>
      <% end %>
      <%= paginate @tours %>
      <div class="border-bottom-index"></div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
    <div class="full-gmap">
      <div id="map" class="map-wrapper"></div>
      </div>
    </div>
</div>
</div>

<% content_for(:after_js) do %>
 <%= javascript_tag do %>
   $(document).on('ready', function() {
     handler = Gmaps.build('Google');
     handler.buildMap({ provider: {scrollwheel: false}, internal: { id: 'map' } }, function(){
       markers = handler.addMarkers(<%= raw @markers.to_json %>);
       handler.bounds.extendWith(markers);
       handler.fitMapToBounds();

       markers.forEach(function(marker, index){
        marker = <%= raw @markers[0].to_json %>
        google.maps.event.addListener(marker, 'click', function() {
            alert("adrien");
        });
       })
     });





    })
 <% end %>
<% end %>
