
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="index-tour-list">
      <div class="index-header">
        <h3 class="text-center">Choisissez un tour</h3>
      </div>
      <%= form_tag(tours_path, method: "get") do %>
      <div class="index-filters">
        <div class="price-range">
          <ul class="list-inline">
            <li><%= label_tag 'Maximum Price:  ' %></li>
            <li><%= Tour.minimum(:price).to_i %>€</li>
            <li><%= range_field_tag :price, class: "range-form" %></li>
            <li><%= Tour.maximum(:price).to_i %>€</li>
          </ul>
        </div>
        <div class="duration-range">
          <ul class="list-inline">
            <li><%= label_tag 'Max Tour Duration:   ' %></li>
            <li><%= Tour.minimum(:tour_duration).to_i %>hr</b></li>
            <li><%= range_field_tag :tour_duration, class: "range-form" %></li>
            <li><%= Tour.maximum(:tour_duration).to_i %>hrs</li>
          </ul>
        </div>
      </div>
      <div class="index-options">
        <ul class="list-inline">
            <div class="btn-group">
            <%= select_tag :guide_level, options_for_select(1..5), :prompt => "Guide Level", class: "btn btn-danger" %>

            <%= select_tag :language, options_for_select(["French", "Chinese", "English"]), :prompt => "Language", class: "btn btn-danger" %>
              <%= select_tag :provides_ticket, options_for_select([true, false]), :prompt => "Tickets Provided", class: "btn btn-danger" %>

              <%= select_tag :provides_car, options_for_select([true, false]), :prompt => "Car Trip Included", class: "btn btn-danger" %>

              <%= select_tag :provides_food, options_for_select([true, false]), :prompt => "Food Included", class: "btn btn-danger" %>
            </div>
        </ul>
      </div>
      <div class="search-button">
        <%= submit_tag "Search", class: "btn btn-primary", style:"width:100%;"%>
        <% end %>
      </div>


      <% @tours.each do |tour| %>
        <div class="col-xs-12 col-sm-6">
          <%= render "shared/card_listing", tour: tour %>
        </div>
      <% end %>
      <% #paginate @tours %>
      <div class="border-bottom-index"></div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
    <div class="full-gmap">
      <div id="map" class="map-wrapper"></div>
      </div>
    </div>
</div>
</div>

<% content_for(:after_js) do %>
 <%= javascript_tag do %>
   $(document).on('ready', function() {
     handler = Gmaps.build('Google');
     handler.buildMap({ provider: {scrollwheel: false}, internal: { id: 'map' } }, function(){
       markers = handler.addMarkers(<%= raw @markers.to_json %>);
       handler.bounds.extendWith(markers);
       handler.fitMapToBounds();

       markers_array = <%= raw @markers.to_json %>
       markers_array  .forEach(function(marker, index){
        google.maps.event.addListener(marker, 'click', function() {
            alert("adrien");
        });
       })
     });
    })
 <% end %>
<% end %>
