<h1 class="text-center">Soignez vos connaissances avec nos guides</h1>

<div id="map" style="width: 100%; height: 600px;"></div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    })
  <% end %>
<% end %>

<%= link_to("new", new_tour_path) %>
<%= link_to("my listings", index_user_tours_path(current_user)) %>

<%= current_user.id %>

<% @tours.each do |tour| %>
  <li>
    <%= link_to("view", tour_path(tour)) %>
    <%= tour.name %>
    <%= link_to("edit", edit_tour_path(tour)) %>
  </li>
<% end %>
