<!-- add option to edit if user is the owner -->




<div style="height:600px; background-image:url(<%= cl_image_path @tour.photos.first&.path %>); background-position: center; background-size: cover !important;">
<h1><%= @tour.name %></h1>
</div>


<% if @tour.user_id == current_user.id %>
  <%= link_to("edit", edit_tour_path(@tour)) %>
<% end %>

<%= render "shared/tour_show_gallery", tour: @tour %>


<%= @tour.description %>
<%= @tour.price %>

<% unless current_user.id == @tour.user_id %>
  <%= render "shared/booking_form", locals: { tour: @tour, booking: @booking } %>
<% end %>




