<!-- add option to edit if user is the owner -->


<!-- banner -->
<div class="tour-banner">
<div class="tour-background" style="height: 600px; background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @tour.photos.first&.path %>'); background-position: center; background-size: cover;">
</div>
<% if @tour.user_id == current_user.id %>
  <%= link_to("Edit Profile", edit_tour_path(@tour), html_options = {class: "tour-edit-button btn btn-primary btn-lg"}) %>
<% end %>
</div>
<!-- guide information -->
<div class="guide-profile">
  <div class="guide-main-info">
    <div class="image">
    <%= cl_image_tag(@tour.user.user_picture&.path, { crop: :fill, class: "avatar-extra-large" }) %>
    </div>
    <p><%= @tour.user.first_name %></p>
  </div>
  <div class="guide-other-info">
    <h3> <%= @tour.name %> </h3>
    <p> <%= @tour.description %> </>
  </div>
</div>

<!-- tour summary -->
<div class="tour-summary">
  <h3></h3>
</div>



<%= render "shared/tour_show_gallery", tour: @tour %>


<%= @tour.description %>
<%= @tour.price %>

<% unless current_user.id == @tour.user_id %>
  <%= render "shared/booking_form", locals: { tour: @tour, booking: @booking } %>
<% end %>



