<video autoplay="" loop="" poster="" id="bgvid">
    <source src="https://res.cloudinary.com/dhh83l8ql/video/upload/ac_none/v1455650593/paris_video_zs8eea.mp4" type="video/mp4">
</video>
<div class="banner">
  <div class="overlay">
    <h1>SUIVEZ LE GUIDE</h1>
    <p>La meilleure façon de découvrir et comprendre une ville</p>
  </div>
  <div id="wrapper-form">
    <%= form_tag(tours_path, :method => "get", class: "form-inline searchbar") do %>
       <%= text_field_tag :address, params[:address], class: "form-control fields", placeholder: 'Où cherchez-vous une visite ?' %>
       <%= submit_tag "Chercher", class: "btn btn-danger" %>
    <% end %>
  </div>
  <div class="angle-position">
    <%= link_to("#about") do %>
      <i class="fa fa-angle-down i-size pulse"></i>
    <% end %>
  </div>
</div>

<div class="text-center padded" id="about">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <%= image_tag("globe.png", alt: "globe", class: "small_image" ) %>
        <h2>Découvrir les villes</h2>
        <p>Tous les lieux culturels et mythiques</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <%= image_tag("student.png", alt: "student", class: "small_image" ) %>
        <h2>Les guides les plus intéréssants</h2>
        <p>Choississez parmi des milliers de guides professionnels</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <%= image_tag("euro.png", alt: "euro", class: "small_image" ) %>
        <h2>Les meilleurs tarifs</h2>
        <p>Le meilleur prix pour le meilleur service</p>
      </div>
    </div>
  </div>
</div>

<div class="wrapper-grey padded">
  <div class="container">
    <h2 class="text-center">Votre prochain guide</h2>
      <div class="row padded">
        <% @tours.sample(3).each do |tour| %>
        <%= render "shared/card", tour: tour %>
        <% end %>
      </div>
  </div>
</div>
