<div class="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= asset_path 'background_home.jpeg' %>);">
  <div class="container">
    <div><h1 class="text-center">Suivez le guide</h1></div>
    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3">
        <div class="form-group">
          <%= form_tag tours_path, method: :get do %>
            <%= text_field_tag :address %>
            <%= submit_tag("Go !", class: "btn btn-danger") %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper-grey padded">
  <div class="container">
    <h2 class="text-center">Votre prochain guide</h2>
      <div class="row padded">
        <% @tours.sample(3).each do |tour| %>
        <%= render "shared/card", tour: tour %>
        <% end %>
      </div>
  </div>
</div>

<div class="text-center padded">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4">
            <%= image_tag("globe.png", alt: "globe", class: "small_image" ) %>
            <h2>Discover the world</h2>
            <p>All the cultural places</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
            <%= image_tag("student.png", alt: "student", class: "small_image" ) %>
              <h2>The most interesting guides</h2>
                <p>Check the reviews and choose</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
            <%= image_tag("euro.png", alt: "euro", class: "small_image" ) %>
              <h2>Quick and cheap</h2>
                <p>You won't find an cheapest and esaiest way</p>
            </div>
          </div>
      </div>
    </div>
