<div class="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= asset_path 'background_home.jpeg' %>);">
  <div class="container">
    <div><h1 class="text-center">Suivez le guide</h1></div>
    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3">
        <div class="form-group">
          <%= form_tag tours_path, method: :get do %>
            <%= text_field_tag :address %>
            <%= submit_tag("Go !", class: "btn btn-danger") %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper-grey padded">
  <div class="container">
    <h2 class="text-center">Votre prochain guide</h2>
      <div class="row padded">
        <% @tours.sample(3).each do |tour| %>
        <%= render "shared/card", tour: tour %>
        <% end %>
      </div>
  </div>
</div>
